{% extends "layout.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}
{% load static %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content6 %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">
  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>
  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
{% blocktrans %}
{% endblocktrans %}

<img src="{% static 'icon/skil_note_logo_for_react.jpg' %}" width="100%" height="34%" alt="" class="mb-2">


{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-outline-info btn-block mb-1">Login</button>
</form>
<a class="primaryAction btn btn-outline-primary float-right btn-block" href="{{ signup_url }}">회원 가입</a>
<br><br><br>
{% endblock %}

{% block sidearea6 %}


level1<br>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/react-kakao/1">react-kakao</a>
        </td>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/react-basic/1">react-nomadcoder</a>
        </td>
    </tr>
</table>

level2 <br>
nomflix <br>
(nomadcoder)
<table class="table table-bordered">
    <td>
        <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/nomplix/1">nomflix</a>
    </td>
</table>


level3 <br>
node js + react + mongodb for boilerplate
<table class="table table-bordered">
    <td>
        <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/node-react-boiler-plate/1">node-react-boiler-plate</a>
    </td>
</table>

level4 <br>
next js twitter clone
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/react-nodebird/1">react-nodebird(1)</a>
        </td>
    </tr>
    <tr>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote2/myshortcut/react-nodebird/1">react-nodebird(2)</a>
        </td>
    </tr>
</table>

level5 <br>
sleact(슬랙 클론 하기, frontend(react)에 초점) <br>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/sleact/1">sleact</a>
        </td>
    </tr>
</table>

github-basic<br>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/github-basic/1">github-basic</a>
        </td>
    </tr>
</table>

markdown-basic<br>
<table class="table table-bordered">
    <tr>
        <td>
            <a href="http://skilnote-for-react.co.kr/skilnote1/myshortcut/markdown-basic/1">markdown-basic</a>
        </td>
    </tr>
</table>

{% endblock %}


<script type="text/javascript">
{% block extra_js %}

    $(document).ready(function(){
        console.log("로그인 페이지")
    });

{% endblock %}
</script>
